
<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center  >Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img class="icon" src="../assets/logo.png">
  <ion-item>
    <ion-label position="floating" >Correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"  (click)='onClickFunction($event)'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" (click)='onClickFunction($event)'></ion-input>
  </ion-item>
  <ion-button (click)="onSubmitLogin()" expand="block">Entrar</ion-button>  
  <p *ngIf="mensaje" >
    El usuario o contraseña no es correcto
  </p>
  
 <h3>Email:micole@gmail.com </h3> 
 <h3>Password: micole </h3>
</ion-content>
