<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      El chat de los amigos felices
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col >
            <ion-card class="carh" *ngFor="let usuario of usuarios"> 
              <ion-card-content    button [routerLink] = "['/details', usuario.id]">
                    <ion-img src="{{usuario.urlFoto}}" > </ion-img>   
              </ion-card-content>

              <ion-card-header>
                 <ion-card-title>
                    @ {{usuario.name}}
                 </ion-card-title>
                 <ion-card-subtitle>
                     {{usuario.comentario}}  
                 </ion-card-subtitle>  
             </ion-card-header>
           </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>  
-->
<!--
<ion-content>
  <ion-card class="car" *ngFor="let usuario of usuarios"  button [routerLink] = "['/details', usuario.id]">
    <ion-row>
      <ion-col size="12" size-sm > 
          <ion-card-content>    
             <ion-img src="{{usuario.urlFoto}}" > </ion-img>    
          </ion-card-content>
          
          <ion-card-header>
              <ion-card-title>
                  @ {{usuario.name}}
              </ion-card-title>
              <ion-card-subtitle>
                   {{usuario.comentario}}  
              </ion-card-subtitle>          
          </ion-card-header>
      </ion-col>  
    </ion-row> 
  </ion-card>
-
  <ion-item-options>
     <ion-item-option (click)="remove(item)" color ="secondary">
         <ion-icon name="checkmark" slot="end"></ion-icon>
     </ion-item-option>
   </ion-item-options>   

    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
       <ion-fab-button routerLink="/details" routerDirection="forward">
           <ion-icon name="add"></ion-icon>
       </ion-fab-button>
    </ion-fab>
</ion-content>
-->

<!--

<ion-content>
   <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm>
            <div>
              1 of 4 columna 1-
            </div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>
              2 of 4 columna 2-
            </div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>       
              3 of 4 columna 3-
            </div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>
              4 of 4 columna 4
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
-->

<ion-content class="carhh" >
 <ion-grid>  
  <ion-row *ngFor="let post of posts" >
    <ion-col size="12" size-sm > 
        <ion-card  button [routerLink] = "['/details', post.id]">
                <ion-card-content>    
                   <ion-img src="{{post.urlFoto}}" > </ion-img>    
                </ion-card-content>
                
                <ion-card-header>
                   <ion-card-title>
                       @ {{post.name}}
                   </ion-card-title>
                   <ion-card-subtitle>
                     {{post.comentario}}  
                   </ion-card-subtitle>          
                </ion-card-header>
        </ion-card>
     </ion-col>  
   </ion-row> 
  </ion-grid>


<ion-item-options>
  <ion-item-option (click)="remove(item)" color ="secondary">
      <ion-icon name="checkmark" slot="end"></ion-icon>
  </ion-item-option>
</ion-item-options>   

 
 <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="secondary" routerLink="/details" routerDirection="forward">
        <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
 </ion-fab>
 <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary"  (click)="Onlogout()">
      <ion-icon name="lock"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Con flexbox
<ul class="parent" *ngFor="let usuario of usuarios" >
  <li>
    <ion-card  button [routerLink] = "['/details', usuario.id]">
      <ion-card-content>    
         <ion-img src="{{usuario.urlFoto}}" > </ion-img>    
      </ion-card-content>
      
      <ion-card-header>
         <ion-card-title>
             @ {{usuario.name}}
         </ion-card-title>
         <ion-card-subtitle>
           {{usuario.comentario}}  
         </ion-card-subtitle>          
      </ion-card-header>
   </ion-card>
  </li> 
</ul>
</div>
-->



<!-- Con flexbox   Funciona muy bien---------------------------
<ul class="parent"  >
  <li>
    <img class="icon" src="../assets/logo.png"> <br/>
    Columna de prueba 1 Columna de prueba 1 </li>  
  <li>
    <img class="icon" src="../assets/logo.png"> <br/>
    Columna de prueba 2 Columna de prueba 2 </li> 
  <li>
    <img class="icon" src="../assets/logo.png"> <br/>
    Columna de prueba 3 Columna de prueba 3 </li> 
  <li>
    <img class="icon" src="../assets/logo.png"> <br/>
    Columna de prueba 4 Columna de prueba 4 </li>  
  <li>
    <img class="icon" src="../assets/logo.png"> <br/>
    Columna de prueba 5 Columna de prueba 5</li> 
  <li>
    <img class="icon" src="../assets/logo.png"> <br/>
    Columna de prueba 6 Columna de prueba 6</li> 
</ul>
-->
